<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="UCode It Academy, UCode, EndGame, FullStack Marathon final project, Володимир Стешенко (vsteshenko), Кирило Овсяннiк (kovsiannik), Євген Семенюк (ysemeniuk)">
    <meta name="author" content="Володимир Стешенко (vsteshenko), Кирило Овсяннiк (kovsiannik), Євген Семенюк (ysemeniuk)">
    <meta name="description" content="UCode It Academy. EndGame, FullStack Marathon final project by SOS EndGame Avengers. Володимир Стешенко (vsteshenko), Кирило Овсяннiк (kovsiannik), Євген Семенюк (ysemeniuk)">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.jpg" type="image/jpg">
    <link rel="stylesheet" href="/css/style.css">
<!--    <link rel="stylesheet" href="/css/styleYS.css">-->
    <link rel="stylesheet" href="/css/styleYS1.css">
</head>