
    <style>
        body{
            background-color: brown;
        }
        .box{
            width: 850px;
            display: flex;
            justify-content: space-between;
            margin: 15px;
        }
        .info{
            width: 500px;
            border: 5px solid black;
            border-right: unset;
            border-bottom: unset;
            border-top: unset;
            text-align: center;
        }
        img{
            width: 250px;
        }
        button{
            cursor: pointer;
        }
    </style>

    <a href="/menu"><button>Come back to the main</button></a>
    <div class="box">
        <img src="/images/heroes/ysemeniuk.png" alt="ysemeniuk">
        <div class="info">
          <h2>Євген Семенюк</h2>
          <p>Прекрасный человек, душа компании.</p>
        </div>
    </div>
    <div class="box">
        <img src="/images/heroes/kovsiannik.png" alt="ysemeniuk">
        <div class="info">
          <h2>Кирило Овсяннiк</h2>
          <p>Человек, программист.</p>
        </div>
    </div>
    <div class="box">
        <img src="/images/heroes/vsteshenko.png" alt="ysemeniuk">
        <div class="info">
          <h2>Vladimir Steshenko</h2>
          <p>Реальный ментор, который всегда поможет.</p>
        </div>
    </div>
