<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="UCode It Academyб UCode, EndGame, FullStack Marathon final project, Володимир Стешенко (vsteshenko), Кирило Овсяннiк (kovsiannik), Євген Семенюк (ysemeniuk)">
    <meta name="author" content="Володимир Стешенко (vsteshenko), Кирило Овсяннiк (kovsiannik), Євген Семенюк (ysemeniuk)">
    <meta name="description" content="UCode It Academy. EndGame, FullStack Marathon final project by SOS EndGame Avengers. Володимир Стешенко (vsteshenko), Кирило Овсяннiк (kovsiannik), Євген Семенюк (ysemeniuk)">
    <title>EndGame by SOS Avengers</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/images/favicon.jpg" type="image/jpg">
    {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
    <link rel="stylesheet" href="/css/styleMenu.css">
    
</head>
<body>
{{!-- <div class="container">
    <div id="menu-box">
        <a href="/login">Log in</a>
        <a href="/registration">Sign up</a>
        <a href="https://ucode.world/?utm_source=google&utm_medium=cpc&utm_campaign=ucode_kyiv_location_ad_1&gclid=Cj0KCQjw2or8BRCNARIsAC_ppyacQB7KywkofN_5D-LyMIGDuapv_4TDcrU6CZQ15xV7rIcoBocxaDMaAirhEALw_wcB" target="_blank">сайт</a>
        <a href="/rules">Rules</a>
        <a href="/creators">Creators</a>
        <a href="/exit">Exit</a>
    </div>
</div> --}}
<div class='container'>
  <a href="/"><button class='one'>Play some <b>amazing</b> games</button></a>
  <a href="/creators"><button class='two'>We are <b>creators</b></button></a>
  <a href="/rules"><button class='three'>Over <b>Rules</b></button></a>
  <a href="/statistic"><button class='four'>Your <b>statistic</b></button></a>
  <form action="/user/logout" method="POST">
  <button type="submit" mt class='five'>You can <b>Exit</b></button>
  </form>
</div>
</body>
</html>