{{>nav}}
    <div class="container mt-4">
        <div class="card">
        <div class="card-header">
            Email:
        </div>
        <div class="card-body">
        <form action="/user/reminder" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Remind your password cost 1$</label>
          <a href="https://www.privat24.ua/" target="_blank">Pay</a>
          <input type="email" class="form-control" name="email" id="email" placeholder="Input email" required>
        </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            Remind me my password please
          </button>
        </div>
        </div>
        </form>
        </div>
        </div>
        {{#if text}}
        <h4 class="alert alert-danger mt-4">{{text}}</h4></div>
        {{/if}}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>