<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styleRules.css">
</head>
<body>
    <a href="/menu">Come back to the main</a>
    <div class="window">
        <div class="rule-block">
            <h2 style="text-align: center;">Rules</h2>
            <ul>
                <li>each match is a battle between two opponents against each other</li>
                <li>each player has points ofHealth(e.g., 20 points) at the beginning of the match</li>
                <li>each player has 3 cards at the beginning of the match.</li>
                <li>in each round, players recieve random cards, so players always have 3 cards in their hand</li>
                <li>each player's turn is time-limited (e.g., 30 seconds)</li>
                <li>the goal of the game is to leave the opponent without Health</li>
                <li>the order of each game chosen randomly</li>
            </ul>
        </div>
    </div>
    
</body>
</html>